<h3>Forms Intro</h3>
<p>
  In this module i have placed two forms one is made using the ngModel directive
  on Form input fields and the ngForm on the Form element itself. <br />
  And the second one, was made using reactive forms module, where we used
  FormGroup, FormControl and FormArray constructors to make form objects and
  then in the template mark the corresponding fields with [formGroupName] etc
  <br />
  The reactive forms, also submit to a firebase RT DB, and fetch results using
  httpClient Module of Angular.
</p>

<h5>Further details</h5>
<p>
  More on CRUD and auth using forms and persistent storage solutions such as
  firebase and mongodb will be available in the fourth module of Firebase |
  mongodb
</p>
