<div class="container">
  <div class="row">
    <header
      class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
      >
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Angular 13</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            routerLink="page1"
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            >Basics</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="page2" class="nav-link" routerLinkActive="active"
            >Forms</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="page3" class="nav-link" routerLinkActive="active"
            >RXJS | Pipes</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="page4" class="nav-link" routerLinkActive="active"
            >Routing | Auth</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="page5" class="nav-link" routerLinkActive="active"
            >Http | Firebase</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="page6" class="nav-link" routerLinkActive="active"
            >Misc</a
          >
        </li>
      </ul>
    </header>

    <router-outlet></router-outlet>

    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">About</a>
            </li>
          </ul>
        </div>

        <div class="col-2">
          <h5>Bio</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a
                href="https://github.com/aliraja-dev"
                class="nav-link p-0 text-muted"
                >Github</a
              >
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">LinkedIn</a>
            </li>
          </ul>
        </div>

        <div class="col-4 offset-1">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p>Monthly digest of whats new and exciting from us.</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden"
                >Email address</label
              >
              <input
                id="newsletter1"
                type="text"
                class="form-control"
                placeholder="Email address"
              />
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>

      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 Ali Raja | USA | All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a class="link-dark" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter" /></svg
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram" /></svg
            ></a>
          </li>
          <li class="ms-3">
            <a class="link-dark" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook" /></svg
            ></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</div>
